<!doctype html>
<html lang="en">
<head>
  <title>Logger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link rel="stylesheet" type="text/css" href="components/panel/panel.css">
  <link rel="stylesheet" type="text/css" href="styles/angular-motion.css">
</head>
<body ng-app="loggerApp">
  <header ng-controller="HeaderController as header">
      <button class="btn" ng-click="header.openNewPanelModal()">+ New Screen</button>
  </header>
  <div class="panel-box" ng-controller="PanelContainerController as panelContainer">
      <logger-panel panel="panel" ng-repeat="panel in panelContainer.panels"></logger-panel>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-animate.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.js"></script>

  <script src="socket.io.js"></script>
  <script src="main.js"></script>
  <script src="components/panel/panel.js"></script>

</body>
</html>
